.followContainer {
    display: flex;
    height: 600px;
}

.followContainer li {
    list-style-type: none;
    padding: 10px 20px;
}

.followersC {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow: scroll;
}

.followContainer h3 {
    font-weight: 500;
    font-size: 2em;
    text-decoration: underline;
}

.followingC {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    overflow: scroll;
}

.message {
    font-size: 1.4em;
    padding: 20px;
}

li {
    font-size: 18px;
    text-decoration: none;
    color: orange;
    cursor: pointer;
}