.newsContainer1{

  display: grid;
  grid-template-columns:  50% 50% ;
  grid-template-rows: 10% 20% 70%;
  /* grid-gap: 5px; */
  max-width: 800px;
  height: 400px;
  position: relative;
  box-shadow: 0px 5px 3px 3px lightgray;
}

body {
    font-family: 'Fugaz One', cursive;
}
.newsTitle1{
  /* border: 2px solid black; */
  border-radius: 5px;
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 1/2;
}

.social1{
  /* border: 2px solid black; */
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 1/2;
}


.newsImg1{
  /* border: 2px solid black; */
  height: 50px;
  width:  50px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.newsLink1{
  /* color: green; */
}

.runstats-container1{
  display: flex;
}

.avatarTitle1 {
  /* border: 2px solid black; */
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 2/3;
}

.runstats-container1 {
  /* border: 2px solid black; */
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 2/3;
}

.map1 {
  /* border: 2px solid black; */
  font-weight: bold;
  grid-column: 1/3;
  grid-row: 3/3;

}

.avatar {
  border-radius: 50%;
}